<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>WORDIFY</title>
  <meta charset="utf-8">
  <link rel="icon" type="image/x-icon" href="/logo.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  
  
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">WORDIFY</p>
      </div>
        <ul id ="nav-options" class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/home">HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="myposts"><a href="/myposts">MY POSTS</a></li>
          <li id="composeBtn"><a href="/compose">COMPOSE NEW</a></li>
          <li id="logoutBtn"><a class="composeBtn" href="/logout">LOGOUT</a></li>
        </ul>
    </div>
  </nav>
</head>
  <body>
    <div class="container">
