<%- include("partials/header") -%> 
<h1>About</h1>
<hr>
    <div class="about-content">
        <h2>Stay Curious and Keep Reading</h2>
        <p>We’re creating a new model for digital publishing. One that supports nuance,
            complexity, and vital storytelling without giving in to the incentives
            of advertising. It’s an environment that’s open to everyone but promotes
            substance and authenticity. And it’s where deeper connections forged between
            readers and writers can lead to discovery and growth. Together with collaborators,
                we’re building a trusted and vibrant ecosystem 
            fueled by important ideas and the people who think about them.</p>
    </div>
<hr>
    <div class="about-content">
        <h2>A living network of curious minds.</h2>
        <p>Anyone can write here, Thought-leaders, journalists, 
            experts, and individuals with unique perspectives share their
            thinking here. You’ll find pieces by independent writers from around 
            the globe, stories we feature and 
            leading authors, and smart takes on our own suite of blogs and publications.</p>
    </div>

<hr>
    <div class="about-content">
        <h2>Create the space for your thinking.</h2>
        <p>A blank page is also a door. Here you can walk through it. It's easy
             and free to share your thinking on any topic, connect with an audience,
              express yourself.</p>
    </div>
<hr>

<%- include("partials/footer") -%> 