<%- include("partials/header") -%> 
<h1>Compose</h1>
<hr>
<form method="POST" action="/compose">
    <label for="postTitle">Title</label>
    <input class="form-control" type="text" id="postTitle" name="postTitle">
    <label for="postBody">Body</label>
    <textarea class="form-control" id="postBody" name="postBody" rows="10"></textarea>
    <button class="btn btn-primary" type="submit">publish</button>  
</form>
<%- include("partials/footer") -%> 